.navBarAdd {
    height: 8%;    

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom-left-radius: 10px;
    background-color: #7E7C7F;
}

.navBarAddInput {
    margin-left: 15%;
    height: 40%;
    width: 80%;

    background-color: rgb(223, 223, 223);

    text-indent: 1%;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.navBarAddBtn {
    height: 46%;
    width: 20%;
    transform: translateX(-98%);
}
